<h1>Ingredients#edit</h1>
<%= form_for @ingredient do|i|%>
    Ingredient Name: <%= i.text_field :name %>
    <%= i.submit "Submit" %>
    <% end %>
<%= link_to "Delete this Ingredient", :ingredient, method: :delete, data:{confirm: "Would you like to delete this ingredient from the data base?"} %>
