<h1>Admin view current users</h1>
 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <% @users.each do |u| %>
        <div class="col-md-4">
          <h2><%= u.email %></h2>
          <%= link_to 'Add Pet', new_user_pet_path(u), class: "btn btn-default" %>
          <%= link_to "Your Pets", user_pets_path(u), class: "btn btn-default"  %>
        </div>
      </div>
      <%end%>
<div>
