<h1>Your Account Info</h1>
	<%= @user.email %>



    </p>

<button type="button" name="button"><%= link_to 'Add Pet', new_pet_path %></button>
<button type="button" name="button"><%= link_to "Your Pets", pets_path %></button>
